<ul class="list-group">
  <li class="list-group-item"><a href="https://granule-project.github.io/">The
  Granule Project.</a>  An ambitious research project whose goal is to
  rethink the foundations of statically-typed functional programming
  languages by making resource sensitivity an integral aspect of the
  language design.  </li>
  <li class="list-group-item"><a href="https://granule-project.github.io/">The
  StATyC Project.</a> StATyC stands for “Static Analyses of Program Flows: Types and Certificate for Complexity”. The project aims at providing new static analysis tools based on theoretical results from Implicit computational complexity. It revolves primarily around loop optimization through an original dependency model. Application to parallel optimization are currently being investigated.
 </li>
</ul>
