<a class="nav-link" href="{{ "index.html" | relative_url | replace: site.baseurl, "" }}">Home</a>
<a class="nav-link" href="{{ "research.html" | relative_url | replace: site.baseurl, "" }}">Research</a>
<a class="nav-link" href="{{ "people.html" | relative_url | replace: site.baseurl, "" }}">People</a>
<a class="nav-link" href="{{ "colloquium.html" | relative_url | replace: site.baseurl, "" }}">CCS Colloquium</a>
<a class="nav-link" href="{{ site.baseurl |  replace: "/plgroup", "" }}/plgroup/">Reading Group</a>